html, body {
    height: 100%;

} 

body {
    background-color: wheat;
    flex-direction: column;
    display: flex;
}

/*navbar*/
.container-navbar {
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}   

.ul-navbar {
    list-style-type: none;
    display: flex;
    gap: 150px;
    padding: 0px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.li-navbar {
    background-color: rgba(240, 248, 255, 0);
    text-align: center;
}

/* Menghapus gaya default pada link */
.ul-navbar a {
    text-decoration: none;  /* Menghapus garis bawah pada link */
    color: black;           /* Mengubah warna teks menjadi hitam (atau warna lain yang Anda inginkan) */
    padding: 5px 10px;
}

/* Jika ingin memberikan hover effect pada link */
.ul-navbar a:hover {
    color: #333;  /* Mengubah warna teks ketika pengguna mengarahkan mouse ke tautan */
    border-bottom: 2px solid #333; 
}


/*content*/
.container-content {
    flex-grow: 1;
    width: 100%;
}

.p-content {
    text-align: center;

}

/*footer*/
.container-footer {
    background-color: rgba(255, 255, 255, 0.277);
    padding: 3px;
    width: 100%;
    margin-top: auto;
}

.text-footer {
    font-size: smaller;
    text-align: center;
    text-shadow: 50%;
}
